# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- MySQL
- Python
- R
- Julia

Some of the popular languages that Data Scientists use are:
1. MySQL
2. Python
3. R
4. Julia

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Numpy
- Matplotlib
- Ploty

| Data Science Tools |
|--------------------|
| Jupyter NoteBook |
| Jupyter Lab |
| Google Colab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
hour = str(200/60)
print (hour + " hour")

3.3333333333333335 hour

## Author
Vivek Tank